.pokemon-list-link {
  display: block;
  width: 100%;
  padding: var(--padding-m) var(--padding-s);
  text-transform: capitalize;

  &:hover {
    background-color: pink;
  }
}

.pokemon-list-item:not(:last-child) {
  .pokemon-list-link {
    border-bottom: 1px solid lightblue;
  }
}
