main,
header {
  display: flex;
  justify-content: center;
}

header {
  background-color: var(--blue-100);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 var(--padding-m);
}

.logo-link {
  display: flex;
  align-items: center;
  gap: var(--padding-s);
  font-weight: 700;
  font-size: 20px;

  img {
    height: 28px;
  }
}

nav,
.container {
  width: var(--max-content);
  max-width: var(--max-content);

  @media (min-width: 1024px) {
    padding: 0 var(--padding-xl);
  }
}

main {
  padding: var(--padding-m);

  @media (min-width: 1024px) {
    padding: var(--padding-l) 0;
  }
}
